.h1,
h1,
h2,
h3 {
    font-family: 'Raleway Bold', Open Bold;
}

p {
    font-family: 'Open Sans', sans-serif;
}
.black-nav {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  height: 60px;
  background: black;
  color: #fff;
}
